.gitattributes !filter !diff
include/gnome-shell-extension-gsconnect.ini filter=git-crypt diff=git-crypt
include/gnome-clocks.ini filter=git-crypt diff=git-crypt
.password-store/.gitignore filter=git-crypt diff=git-crypt
.password-store/.browserpass.json filter=git-crypt diff=git-crypt
.home/backup/lst.exclude.home filter=git-crypt diff=git-crypt
*.png -text diff=exif
*.webp -text diff=exif
