#
# Created by dotfiles setup script on ${TODAY} by ${USER}
#

[Unit]
Description=Monthly backup of %i
Requires=network-online.target
After=network-online.target

[Timer]
OnBootSec=15min
RandomizedDelaySec=1h
OnCalendar=monthly
Persistent=true
Unit=restic-backup@%i.service

[Install]
WantedBy=timers.target
