#
# Created by dotfiles setup script on ${TODAY} by ${USER}
#

[Unit]
Description=Monthly check for %i

[Timer]
OnBootSec=15min
RandomizedDelaySec=1h
OnCalendar=monthly
Persistent=true
Unit=restic-check@%i.service

[Install]
WantedBy=timers.target
