#
# Created by dotfiles setup script on ${TODAY} by ${USER}
#

[Unit]
Description=Verifies '%i' repository integrity and publishes the result
Requires=network-check.service
ConditionUser=!root

[Service]
Type=simple
RuntimeDirectory=restic-check/%i
IOSchedulingClass=idle
Restart=no
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/make -C ${WORKDIR} check-restic-%i-no-deps
